.container{
  padding: 10px 40px;
  width: auto;
  margin-left: 220px;
}

.container-information{
  width: 600px; 
  padding: 50px;
  background-color: #F8F9FA;
}

.container-details{
  width: auto;
  padding: 50px;
  margin-left: 30px;
  background-color: #F8F9FA;
}