<div class="h-100 back-color-primary d-flex">
  <div class="links-containers align-self-center d-flex flex-column align-items-center justify-content-center w-100">
    <div class="link-container" routerLink="/home" routerLinkActive="active">
      <i class="fas fa-book-open text-color-white"></i>
    </div>
    <div class="link-container" routerLink="/shop" routerLinkActive="active">
      <i class="fas fa-shopping-cart text-color-white"></i>
    </div>
    <div class="link-container" routerLink="/settings" routerLinkActive="active">
      <i class="fas fa-cog text-color-white"></i>
    </div>
  </div>
</div>