.navbar-ver{
  background-color: #142036;
  width: 220px; 
  min-height: 100vh; 
  float: left;
}
.navbar-title{
  color: white;
  font-size: x-large;
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  text-decoration: none;
}
.icon{
  font-size: 1.8rem;
  margin: 4px;
  color: white;
}

.font-size{
  font-size: large;
}

.nav-item:hover{
  background-color:#2E394B;
}