<div class="navbar-ver">
  
  <a class="navbar-title rounded">
    <img src="./assets/img/smartcody-icon.png" alt="smartcody" width="40px" height="40px">
    <span class="m-1"></span>{{app_name}}
  </a>
  <br>

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/groups" class="nav-link font-size text-white">
        <i class="bi-people icon"></i> Grupos
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/activities" class="nav-link font-size text-white">
        <i class="bi-table icon"></i> Actividades
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/shop" class="nav-link font-size text-white">
        <i class="bi-shop icon"></i> Tienda
      </a>
    </li>
  </ul>
</div>

