$lighter-gray: #b5b5b5;
$medium-gray: #e2e2e2;
$darker-gray: #858585;
$light-gray: #dedede;
$dark-blue: #2e394b;
$primary: #2e394b;
$orange: #ff4600;
$green: #15eda3;
$black: #000000;
$white: #ffffff;
$red: #e7475e;
