.#{$text-color}-primary {
  color: $primary !important;
}

.#{$text-color}-lighter-gray {
  color: $lighter-gray !important;
}

.#{$text-color}-medium-gray {
  color: $medium-gray !important;
}

.#{$text-color}-darker-gray {
  color: $darker-gray !important;
}

.#{$text-color}-light-gray {
  color: $light-gray !important;
}

.#{$text-color}-dark-blue {
  color: $dark-blue !important;
}

.#{$text-color}-orange {
  color: $orange !important;
}

.#{$text-color}-green {
  color: $green !important;
}

.#{$text-color}-black {
  color: $black !important;
}

.#{$text-color}-white {
  color: $white !important;
}

.#{$text-color}-red {
  color: $red !important;
}
