<div class="w-100 h-100 p-3">
  <div class="row h-100">
    <div class="col flex-column">
      <app-class-view-header></app-class-view-header>
      <div class="row flex-grow-1 grid-container">
        <div class="col padding-r-5">
          <app-class-view-grid (selectedClassId)="onClassSelected($event)"></app-class-view-grid>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row h-100" *ngIf="selectedClassId">
        <div class="col">
          <app-card [options]="cardOptions">
            <app-class-view-info [courseId]="selectedClassId"></app-class-view-info>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>

<app-create-class></app-create-class>