.navbar-user{
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.dropdown-item{
  color: black;
  align-items: center;
  display: flex;
}

.dropdown-item:active{
  color: black;
  background-color: #b0bbcc;
}

i:hover{
  color: #99a3b3;
}


