<div class="modal fade" id="logout">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Cerrar sesión</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Está seguro que desea cerrar sesión?
      </div>
      <div class="modal-footer">
        <button class="btn back-color-red text-color-white" data-dismiss="modal"> 
          Cancelar 
        </button>
        <a role="button" class="btn back-color-primary text-color-white" href=""> Aceptar </a>
      </div>
    </div>
  </div>
</div>

