<form class="text-center">
  <div class="row">
    <div class="col-md mx-4">
      <h3 class="text-gray-darker">Perfil</h3>
      <div class="row mt-3">
        <label for="inputName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nombre" readonly>
      </div>
      <div class="row mt-3">
        <label for="inputFullName" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputFullName" placeholder="Apellido" readonly>
      </div>
      <div class="row mt-3">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email@ejemplo.com">
      </div>
      <div class="row mt-3">
        <label for="inputPhone" class="form-label">Celular</label>
        <input type="text" class="form-control" id="inputPhone" placeholder="Celular">
      </div>
    </div>

    <div class="col-md mx-4">
      <h3 class="text-gray-darker">Contraseña</h3>
      <div class="row mt-3">
        <label for="inputPassword" class="form-label">Contraseña anterior</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña anterior">
      </div>
      <div class="row mt-3">
        <label for="inputNewPassword" class="form-label">Contraseña nueva</label>
        <input type="password" class="form-control" id="inputNewPassword" placeholder="Contraseña nueva">
      </div>  
      <div class="row mt-3">
        <label for="inputConfPassword" class="form-label">Confirmar contraseña</label>
        <input type="password" class="form-control" id="inputConfPassword" placeholder="Confirmar contraseña">
      </div>
      <div class="row mt-5 pr-5 pl-5 justify-content-center">
        <button type="submit" class="btn btn-block back-color-primary text-color-white">Guardar</button>
      </div>
    </div>
  </div>  
</form>

