@import 'bootstrap/dist/css/bootstrap.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

@import "assets/scss/colors";
@import "assets/scss/mixins";
@import "assets/scss/theme";
@import "assets/scss/background-colors";
@import "assets/scss/text-colors";
@import "assets/scss/base";

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #ECECEC !important;
}
