<div class="modal fade" id="create-activity">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Crear actividad</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputTitle">Titulo</label>
          <input type="text" class="form-control" id="inputTitle" placeholder="Titulo de actividad">
        </div>
        <div class="form-group">
          <label for="inputDescription">Descripción</label>
          <textarea class="form-control" id="inputDescription" placeholder="Descripción de actividad"></textarea>
        </div>
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-row">
              <div class="form-group col-8">
                <label for="inputStartDate">Fecha inicio</label>
                <input type="date" class="form-control shadow-sm" id="start-date">
              </div>
              <div class="form-group col-4">
                <label for="inputStartHour">Hora</label>
                <input type="time" class="form-control shadow-sm" id="start-hour">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-8">
                <label for="inputEndDate">Fecha final</label>
                <input type="date" class="form-control shadow-sm" id="end-date">
              </div>
              <div class="form-group col-4">
                <label for="inputEndHour">Hora</label>
                <input type="time" class="form-control shadow-sm" id="end-hour">
              </div>
            </div>
          </div>
          <div class="col-md-5 ml-5">
            <div class="form-row">
              <div class="form-group col-8">
                <label for="inputEcoins">$Ecoins</label>
                <input type="number" class="form-control shadow" id="$Ecoins">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label for="inputFile">Archivo</label>
                <input type="file" class="form-control p-0" id="inputFile">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn back-color-red text-color-white" data-dismiss="modal"> 
          Cancelar 
        </button>
        <button type="submit" class="btn back-color-primary text-color-white"> Guardar </button>
      </div>
    </div>
  </div>
</div>